 span{
     color:rgb(64,64,64) ;
     font-size: 22px;
     margin-right: .4em;
     text-decoration:none;/* esta es para quitar los himpervinculos */
     list-style: none;
      
     
     
 }
 a{
     color:rgb(64,64,64);
     text-decoration:none;
     list-style: none;

 }